<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bupt.Jungle.FinancialDataAnalysis.infrastructure.dal.mapper.ForexMapper">
    <resultMap id="Forex" type="com.bupt.Jungle.FinancialDataAnalysis.infrastructure.dal.model.ForexPO">
        <id column="ts" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp" property="ts"/>
        <id column="closing_price" jdbcType="DOUBLE" javaType="java.lang.Double" property="closingPrice"/>
        <id column="opening_price" jdbcType="DOUBLE" javaType="java.lang.Double" property="openingPrice"/>
        <id column="highest_price" jdbcType="DOUBLE" javaType="java.lang.Double" property="highestPrice"/>
        <id column="lowest_price" jdbcType="DOUBLE" javaType="java.lang.Double" property="lowestPrice"/>
        <id column="rise_and_fall" jdbcType="DOUBLE" javaType="java.lang.Double" property="riseAndFall"/>
        <id column="base_region" jdbcType="VARCHAR" javaType="java.lang.String" property="baseRegion"/>
        <id column="base_currency" jdbcType="VARCHAR" javaType="java.lang.String" property="baseCurrency"/>
        <id column="base_currency_cn" jdbcType="VARCHAR" javaType="java.lang.String" property="baseCurrencyCn"/>
        <id column="quote_region" jdbcType="VARCHAR" javaType="java.lang.String" property="quoteRegion"/>
        <id column="quote_currency" jdbcType="VARCHAR" javaType="java.lang.String" property="quoteCurrency"/>
        <id column="quote_currency_cn" jdbcType="VARCHAR" javaType="java.lang.String" property="quoteCurrencyCn"/>
    </resultMap>

    <sql id="currencyCondition">
        WHERE base_currency != 'CNH' AND quote_currency != 'CNH'
    </sql>

    <select id="queryAllBaseRegion" resultType="java.lang.String">
        SELECT base_region
        FROM `financial_data_analysis`.`forex`
        <include refid="currencyCondition"/>
        GROUP BY base_region
        ORDER BY base_region;
    </select>

    <select id="queryAllBaseCurrency" resultType="java.lang.String">
        SELECT base_currency
        FROM `financial_data_analysis`.`forex`
        <include refid="currencyCondition"/>
        GROUP BY base_currency
        ORDER BY base_currency;
    </select>

    <select id="queryAllQuoteRegion" resultType="java.lang.String">
        SELECT quote_region
        FROM `financial_data_analysis`.`forex`
        <include refid="currencyCondition"/>
        GROUP BY quote_region
        ORDER BY quote_region;
    </select>

    <select id="queryAllQuoteCurrency" resultType="java.lang.String">
        SELECT quote_currency
        FROM `financial_data_analysis`.`forex`
        <include refid="currencyCondition"/>
        GROUP BY quote_currency
        ORDER BY quote_currency;
    </select>

    <select id="queryForexTag" resultMap="Forex">
        SELECT TAGS base_region, base_currency, quote_region, quote_currency
        FROM `financial_data_analysis`.`forex`
        <where>
            base_currency != 'CNH' AND quote_currency != 'CNH'
            <if test="baseRegion != null and baseRegion !=''">
                <bind name="queryBaseRegion" value="'%' + baseRegion + '%'"/>
                AND base_region LIKE #{queryBaseRegion}
            </if>
            <if test="baseCurrency != null and baseCurrency != ''">
                <bind name="queryBaseCurrency" value="'%' + baseCurrency + '%'"/>
                AND base_currency LIKE #{queryBaseCurrency}
            </if>
            <if test="quoteRegion != null and quoteRegion != ''">
                <bind name="queryQuoteRegion" value="'%' + quoteRegion + '%'"/>
                AND quote_region LIKE #{queryQuoteRegion}
            </if>
            <if test="quoteCurrency != null and quoteCurrency != ''">
                <bind name="queryQuoteCurrency" value="'%' + quoteCurrency + '%'"/>
                AND quote_currency LIKE #{queryQuoteCurrency}
            </if>
        </where>
        ORDER BY base_region, base_currency, quote_region, quote_currency
        LIMIT #{limitSize} OFFSET #{offSet};
    </select>

    <select id="queryForexTagTotalCount" resultType="java.lang.Long">
        SELECT COUNT(*) FROM
        (SELECT TAGS base_region, base_currency, quote_region, quote_currency
        FROM `financial_data_analysis`.`forex`
        <where>
            base_currency != 'CNH' AND quote_currency != 'CNH'
            <if test="baseRegion != null and baseRegion !=''">
                <bind name="queryBaseRegion" value="'%' + baseRegion + '%'"/>
                AND base_region LIKE #{queryBaseRegion}
            </if>
            <if test="baseCurrency != null and baseCurrency != ''">
                <bind name="queryBaseCurrency" value="'%' + baseCurrency + '%'"/>
                AND base_currency LIKE #{queryBaseCurrency}
            </if>
            <if test="quoteRegion != null and quoteRegion != ''">
                <bind name="queryQuoteRegion" value="'%' + quoteRegion + '%'"/>
                AND quote_region LIKE #{queryQuoteRegion}
            </if>
            <if test="quoteCurrency != null and quoteCurrency != ''">
                <bind name="queryQuoteCurrency" value="'%' + quoteCurrency + '%'"/>
                AND quote_currency LIKE #{queryQuoteCurrency}
            </if>
        </where>
        )
    </select>
</mapper>