<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bupt.Jungle.FinancialDataAnalysis.infrastructure.dal.mapper.StockMapper">
    <resultMap id="Stock" type="com.bupt.Jungle.FinancialDataAnalysis.infrastructure.dal.model.StockPO">
        <id column="ts" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp" property="ts"/>
        <id column="closing_price" jdbcType="DOUBLE" javaType="java.lang.Double" property="closingPrice"/>
        <id column="opening_price" jdbcType="DOUBLE" javaType="java.lang.Double" property="openingPrice"/>
        <id column="highest_price" jdbcType="DOUBLE" javaType="java.lang.Double" property="highestPrice"/>
        <id column="lowest_price" jdbcType="DOUBLE" javaType="java.lang.Double" property="lowestPrice"/>
        <id column="trading_volume" jdbcType="DOUBLE" javaType="java.lang.Double" property="tradeVolume"/>
        <id column="rise_and_fall" jdbcType="DOUBLE" javaType="java.lang.Double" property="riseAndFall"/>
        <id column="code" jdbcType="VARCHAR" javaType="java.lang.String" property="code"/>
        <id column="platform" jdbcType="VARCHAR" javaType="java.lang.String" property="platform"/>
        <id column="region" jdbcType="VARCHAR" javaType="java.lang.String" property="region"/>
        <id column="currency" jdbcType="VARCHAR" javaType="java.lang.String" property="currency"/>
        <id column="name" jdbcType="VARCHAR" javaType="java.lang.String" property="name"/>
        <id column="market_region" jdbcType="VARCHAR" javaType="java.lang.String" property="marketRegion"/>
    </resultMap>

    <sql id="stockValues">
        ts, closing_price, opening_price, highest_price, lowest_price, trading_volume, rise_and_fall
    </sql>

    <sql id="stockTags">
        code, platform, region, currency, name, market_region
    </sql>

    <sql id="stockSTable">
        `financial_data_analysis`.`stock`
    </sql>

    <select id="queryAllRegion" resultType="java.lang.String">
        SELECT region
        FROM <include refid="stockSTable"/>
        GROUP BY region
        ORDER BY region;
    </select>

    <select id="queryAllCurrency" resultType="java.lang.String">
        SELECT currency
        FROM <include refid="stockSTable"/>
        GROUP BY currency
        ORDER BY currency;
    </select>

    <select id="queryAllMarketRegion" resultType="java.lang.String">
        SELECT market_region
        FROM <include refid="stockSTable"/>
        GROUP BY market_region
        ORDER BY market_region;
    </select>

    <select id="queryStockTag" resultMap="Stock">
        SELECT TAGS <include refid="stockTags"/>
        FROM <include refid="stockSTable"/>
        <where>
            <if test="code != null and code != ''">
                <bind name="queryCode" value="'%' + code + '%'"/>
                AND code LIKE #{queryCode}
            </if>
            <if test="platform != null and platform != ''">
                <bind name="queryPlatform" value="'%' + platform + '%'"/>
                AND platform LIKE #{queryPlatform}
            </if>
            <if test="region != null and region != ''">
                <bind name="queryRegion" value="'%' + region + '%'"/>
                AND region LIKE #{queryRegion}
            </if>
            <if test="currency != null and currency != ''">
                <bind name="queryCurrency" value="'%' + currency + '%'"/>
                AND currency LIKE #{queryCurrency}
            </if>
            <if test="name != null and name != ''">
                <bind name="queryName" value="'%' + name + '%'"/>
                AND name LIKE #{queryName}
            </if>
            <if test="marketRegion != null and marketRegion != ''">
                <bind name="queryMarketRegion" value="'%' + marketRegion + '%'"/>
                AND market_region LIKE #{queryMarketRegion}
            </if>
        </where>
        ORDER BY <include refid="stockTags"/>
        LIMIT #{limitSize} OFFSET #{offSet};
    </select>

    <select id="queryStockTagTotalCount" resultType="java.lang.Long">
        SELECT COUNT(*) FROM
        (SELECT TAGS <include refid="stockTags"/>
        FROM <include refid="stockSTable"/>
        <where>
            <if test="code != null and code != ''">
                <bind name="queryCode" value="'%' + code + '%'"/>
                AND code LIKE #{queryCode}
            </if>
            <if test="platform != null and platform != ''">
                <bind name="queryPlatform" value="'%' + platform + '%'"/>
                AND platform LIKE #{queryPlatform}
            </if>
            <if test="region != null and region != ''">
                <bind name="queryRegion" value="'%' + region + '%'"/>
                AND region LIKE #{queryRegion}
            </if>
            <if test="currency != null and currency != ''">
                <bind name="queryCurrency" value="'%' + currency + '%'"/>
                AND currency LIKE #{queryCurrency}
            </if>
            <if test="name != null and name != ''">
                <bind name="queryName" value="'%' + name + '%'"/>
                AND name LIKE #{queryName}
            </if>
            <if test="marketRegion != null and marketRegion != ''">
                <bind name="queryMarketRegion" value="'%' + marketRegion + '%'"/>
                AND market_region LIKE #{queryMarketRegion}
            </if>
        </where>
        )
    </select>

    <select id="queryStockTagByCode" resultMap="Stock">
        SELECT TAGS <include refid="stockTags"/>
        FROM <include refid="stockSTable"/>
        WHERE code = #{code};
    </select>

    <select id="queryStockDataByCode" resultMap="Stock">
        SELECT <include refid="stockValues"/>
        FROM <include refid="stockSTable"/>
        WHERE code = #{code}
        ORDER BY ts;
    </select>

    <select id="queryAllTags" resultMap="Stock">
        SELECT
        <include refid="stockTags"/>
        FROM
        <include refid="stockSTable"/>
        GROUP BY
        <include refid="stockTags"/>
        ORDER BY<include refid="stockTags"/>;
    </select>

    <select id="queryStockRiseAndFallAVG" resultMap="Stock">
        SELECT ts, AVG(rise_and_fall) as rise_and_fall
        FROM <include refid="stockSTable"/>
        GROUP BY ts
        ORDER BY ts;
    </select>
</mapper>