<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bupt.Jungle.FinancialDataAnalysis.mapper.MetersTestMapper">
    <resultMap id="MeterTest" type="com.bupt.Jungle.FinancialDataAnalysis.dao.DO.MetersTestPO">
        <result column="ts" property="ts"/>
        <result column="current" property="current"/>
        <result column="voltage" property="voltage"/>
        <result column="phase" property="phase"/>
        <result column="groupid" property="groupId"/>
        <result column="location" property="location"/>
    </resultMap>

    <resultMap id="MeterTestLastRow" type="com.bupt.Jungle.FinancialDataAnalysis.dao.DO.MetersTestPO">
        <result column="last_row(ts)" property="ts"/>
        <result column="last_row(current)" property="current"/>
        <result column="last_row(voltage)" property="voltage"/>
        <result column="last_row(phase)" property="phase"/>
    </resultMap>

    <select id="find" resultMap="MeterTest">
        SELECT *
        FROM test.meters LIMIT 10;
    </select>

    <select id="lastRow" resultMap="MeterTestLastRow">
        SELECT LAST_ROW(*) FROM test.meters;
    </select>
</mapper>