<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bupt.Jungle.FinancialDataAnalysis.mapper.MetersMapperTest">
    <resultMap id="MeterTest" type="com.bupt.Jungle.FinancialDataAnalysis.dao.MetersTest">
        <result column="ts" property="ts"/>
        <result column="current" property="current"/>
        <result column="voltage" property="voltage"/>
        <result column="phase" property="phase"/>
        <result column="groupid" property="groupId"/>
        <result column="location" property="location"/>
    </resultMap>
    
    <select id="find" resultMap="MeterTest">
        SELECT *
        FROM meters LIMIT 10;
    </select>

    <insert id="create">
        CREATE TABLE IF NOT EXISTS #{tableName, jdbcType=VARCHAR}
            USING meters TAGS
        (
            #{meter.groupId, jdbcType=INTEGER},
            #{meter.location, jdbcType=VARCHAR}
        )
    </insert>

    <insert id="save">
        INSERT INTO #{tableName}
        VALUES (#{meter.ts}, #{meter.current}, #{meter.voltage}, #{meter.phase});
    </insert>

    <select id="lastRow" resultMap="MeterTest">
        SELECT LAST_ROW(ts) AS ts,
               LAST_ROW(current) AS current,
               LAST_ROW(voltage) AS voltage,
               LAST_ROW(phase) AS phase
        FROM meters;
    </select>
</mapper>