<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bupt.Jungle.FinancialDataAnalysis.mapper.StockMapper">
    <resultMap id="Stock" type="com.bupt.Jungle.FinancialDataAnalysis.dao.Stock">
        <result column="date" property="date"/>
        <result column="closing_price" property="closing_price"/>
        <result column="opening_price" property="opening_price"/>
        <result column="highest_price" property="highest_price"/>
        <result column="lowest_price" property="lowest_price"/>
        <result column="trading_volume" property="trading_volume"/>
        <result column="rise_and_fall" property="rise_and_fall"/>
        <result column="company" property="company"/>
    </resultMap>

    <select id="queryByCompany" resultMap="Stock">
        SELECT date, closing_price, opening_price, highest_price, lowest_price, trading_volume, rise_and_fall, company
        FROM stock
        WHERE company = #{company}
        ORDER BY date DESC
        LIMIT #{size};
    </select>
</mapper>